<mat-card class="w-50">
<form>
  <mat-form-field class="w-100">
    <mat-chip-list #chipList aria-label="Language selection">
      <mat-chip
        *ngFor="let language of languages"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(language)">
        {{language}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Type a programming language..."
        matInput
        #languageInput
        [formControl]="languageCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
        {{language}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</mat-card>
